

h1 {
    text-align: center;
 }

h2 {
    text-align: center;
 }


.gambar {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 200px;
  }


.about {
   margin-left: 450px;
   margin-right: 450px; 
}

.aboutme {
   text-align: justify;
}

p {
   text-align: center;
}

.container {
    display: flex;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px; 
 }

 .card {
    border: 1px solid;
    border-color: green;
    background-color: rgb(61, 202, 61);   
 }

 .link {
    text-align: center;
  }
  .icon {
     width: 30px;
  }